.DS_Store

wp-content/uploads
wp-content/plugins

wp-content/themes/tomdallimore/node_modules

wp-content/themes/tomdallimore/assets/src/.sass-cache
wp-content/themes/tomdallimore/.sass-cache

sitemap.xml
sitemap.xml.gz
