.DS_Store

wp-content/uploads

wp-content/themes/tomdallimore/node_modules

wp-content/themes/tomdallimore/assets/src/.sass-cache
wp-content/themes/tomdallimore/.sass-cache

!wp-content/
wp-content/*
!/wp-content/plugins
/wp-content/plugins/*
!/wp-content/plugins/sqlite-integration
