section[role=comments] {		
	h2 {
		font-family: "MuseoSlab-300", Helvetica, Arial, sans-serif;
		color:$gray;
	}
	ul {
		padding:0;
		margin:0 0 10px;
		overflow: hidden;
			li {
				overflow: hidden;
					.comment-author {
							img {
								@include border-radius(5em);
								display:block;
								@include box-shadow(0 0 0 4px $lightgray);		
								margin:7px auto 0;			
							}
					}
					.comment-meta {
						padding:10px 15px;
						background-color: #E6E6E6;
						@include box-sizing(border-box);
						@include border-radius(4px);
						margin-bottom:25px;
						position: relative;
						width:77%;
							i {
								color:#E6E6E6;
								position:absolute;
								top: 13px;
								left: -10px;
								font-size: 28px;
							}
							cite {
								text-transform:capitalize;
								display:block;
									a {
										font-family: "MuseoSlab-500", Helvetica, Arial, sans-serif !important;
										font-style: normal;
									}
							}
							time {
								font-size:0.8em;
								padding-bottom:10px;
							}
					}
					&:first-child {
						.tencol {
							padding:25px 0 0;
							border-top: 1px solid #ffffff;
						}
					}
			}

	}
}
#commentform {
	margin:0;
		.required {
			margin-left:5px;
		}
		input[type=text], textarea {
			background: #E6E6E6;
			border: none;
			@include box-shadow(0px 1px 0px rgba( 255,255,255,0.05 ), inset 1px 1px 2px rgba( 153,153,153,0.4 ));
			padding: 8px 10px;
			@include border-radius(5px);
			@include transition-property(background);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease);
			margin: 3px 0 5px 0;
			display: block;
			outline:none;
			width:90%;
		}
		textarea {
			resize:none;
		}
}