&.dark {
  background:#28292e;
  color:$white;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 1);
    h1 {
      color:#fff;
      text-shadow: 1px 1px 0 #000;
      font-family: "MuseoSlab-500", Helvetica, Arial, sans-serif;
    }
    .content {
        border-top:8px solid #1c1d21;
        @include box-shadow(0px -1px 0px rgba( 255,255,255,0.08 ), inset 0px 1px 0px rgba( 0,0,0,0.41 ), 0px 1px 0px rgba( 255,255,255,0.03 ), inset 0px -1px 0px rgba( 0,0,0,0.3 ));
    }
}