.focus_content {
    background:url('../img/textured_white.png');
    margin-top:70px;
        h1 {
            color:$gray !important;
            text-shadow: 1px 1px 0 rgba(240, 240, 240, 1) !important;
            font-family: "MuseoSans-300", Helvetica, Arial, sans-serif !important;
            font-size:1.1em;
            font-style: normal;
            margin:10px 0 20px;
        }
        p {
            color:$gray;
            text-shadow: 0.5px 0.5px 0 rgba(240, 240, 240, 1); 
        }
        .row {
            padding:65px 0;
        }
}
#about_focus {
    @include box-sizing(border-box);
        span {
            @extend .sp-diary;
            width:40px;
            height:37px;
            float: left;
            margin:11px 15px 0 0;
        }
        img {
            margin-top:-2%;
            opacity:1;
            @include transition-property(opacity);
            @include transition-duration(0.4s);
            @include transition-timing-function(ease-in);
        }
        a {
            font-family: "MuseoSans-300", Helvetica, Arial, sans-serif !important;
            text-shadow: 0 0 0 #fff;
        }
}
#work_focus {
    overflow:hidden;
    .row {
        padding:30px 0 0;
            .sixcol.last {
                padding-top:5px;
                span {
                    display: block;
                    width:38px;
                    height:41px;
                    float:left;
                    margin-right:10px;
                }
                h1 {
                    margin:0 0 5px;
                }
                p {
                    padding-right: 20px;
                }
                .btn {
                    margin-top: 10px;
                }
            }
            .screenshot {
                text-align: center;
                    img {
                        padding-left:20px;
                    }
                    h1 {
                        margin:0 0 15px;
                    }
                    ul.skills {
                        margin:5px 0 10px;
                    }
                    h1, ul.skills {
                        display: none;
                    }
                    .btn {
                        margin-bottom: 17px;
                        display: none;
                    }
            }
            .btn {
                text-shadow: rgb(255, 255, 255) 0px 0px 0px;
                font-family: "MuseoSans-300", Helvetica, Arial, sans-serif;
                    &.btn-success {
                        margin-right:5px;
                    }
            }
            h1:before {
                content: "";
                background-image:url('../img/icono/schematics.png');
                width:38px;
                height:41px;
                margin-right: 10px;
                vertical-align: -32%;
                display: inline-block;
            }
    }
}