.focus_content {
    background:url('../img/textured_white.png');
    margin-top:70px;
        h1 {
            color:$gray !important;
            text-shadow: 1px 1px 0 rgba(240, 240, 240, 1) !important;
            font-family: "MuseoSans_500", Helvetica, Arial, sans-serif !important;
            font-size:1.1em;
            font-style: normal;
            margin:10px 0 20px;
        }
        p {
            color:$gray;
            text-shadow: 0.5px 0.5px 0 rgba(240, 240, 240, 1); 
        }
        .row {
            padding:65px 0;
        }
}
#about_focus {
    @include box-sizing(border-box);
        span {
            @extend .sp-diary;
            width:40px;
            height:37px;
            float: left;
            margin:11px 15px 0 0;
        }
        img {
            margin-top:-2%;
            opacity:1;
            @include transition-property(opacity);
            @include transition-duration(0.4s);
            @include transition-timing-function(ease-in);
        }
}
#work_focus {
        span {
            @extend .sp-schematic;
            width:42px;
            height:37px;
            float:left;
        }
}