#home {
    #clients
    {
        .threecol
        {
            text-align: center;
        }
    }
	.row {
		&:first-child {
			.fourcol {
				&:first-child {
					div {
						@extend .sp-what-i-do;
					}
				}
				&:nth-child(2) {
					div {
						@extend .sp-what-i-love;
					}
				}
				&:last-child {
					div {
						@extend .sp-where-i-reside;
					}
				}
				div {
					height:140px;
					width:140px;
					margin:30px auto 0;
				}
				h1, p {
					text-align: center; 
				}
				h1 {
					color:$blue;
				}
			}
		}
		&.custom-header {
			.fourcol {
				height: 60px;
				position: relative;
					h1 {
						text-align: center;
					}
					span {
						border-top: 1px solid #1C1D21;
						border-bottom: 1px solid $gray;
						width:134%;
						display: block;
						position: absolute;
						top:29px;
					}
					&:last-child {
						span {
							left:-34%;
						}	
					}
			}
		}
        &#projects {
            .fourcol {
                text-align: center;

                span {
                    margin-top:15px;
                    @include border-radius(7px);
                    @include box-shadow(0 0 2px #000);
                    width:100%;
                    height: 150px;
                    display: inline-block;
                }
                h3
                {
                    font-size:0.9em;
                }
                &:first-child {
                    span {
                        background:url('../img/td-recent-trado.jpg');
                        background-position:center center;
                        background-size:cover;
                        background-repeat: no-repeat;
                        background-color: #fff;
                    }
                }
                &:nth-child(2) {
                    span {
                        background: url('../img/recent_4.jpg');
                        background-size:cover;
                        background-repeat: no-repeat;
                        background-position: top left;
                    }
                }
                &:last-child {
                    span {
                        background:url('../img/recent_2.jpg');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top left;
                    }
                }
            }
        }
        .twelvecol {
            div {
                margin-top:22px;
                border-top: 1px solid #1C1D21;
                border-bottom: 1px solid $gray;
                width:100%;
            }
        }
        .sixcol {
            position: relative;
            height:250px;
            margin-top:20px;
                &:first-child {
                    .divider {
                        border-right: 1px solid #1C1D21;
                        border-left: 1px solid $gray;
                        height:250px;
                        position: absolute;
                        width:0px;
                        top:0px;
                        right:0px;
                    }
                    div {
                        overflow: hidden;
                        margin-bottom:10px;
                            span {
                                    &:first-child {
                                        float:left;
                                        // width: 370px;
                                            p {
                                                line-height: 1.5em;
                                            }
                                    }
                                    &:last-child {
                                        float: right;
                                        color:$blue;
                                        margin: 12px 30px 0 0;
                                            i {
                                                margin: 0 7px 0 17px;
                                                position: relative;
                                                top: 3px;
                                                font-size: 1.3em;
                                            }
                                            p {
                                                margin:0;
                                                display: inline-block;
                                                font-weight: bold;
                                            }
                                    }
                                    h2 {
                                        font-family: "MuseoSans-300", Helvetica, Arial, sans-serif;
                                    }
                            }
                    }
                }
                &:last-child {
                    ul {
                        margin:0;
                        padding: 0;
                            li {
                                margin-bottom: 6px;
                                font-size: 0.9em;
                                line-height: 1.5em;

                                    span {
                                        display: block;
                                        color:#808080;
                                        font-size:0.8em;
                                    }
                            }
                    }
                }
                i {
                    color:#fff;
                    display: inline-block;
                    font-size: 2em;
                    margin-right: 15px;
                }
                h1 {
                    display: inline-block;
                    margin:0 0 10px;
                    position: relative;
                    top: -4px;
                    width:200px;
                }

        }
	}
}