/* ========================================== */
/* ! Provide higher res assets  */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    .rsContent a span {
      background: url('../img/retina/clipboard.png') !important;
      background-size: 42px 40px !important;
    }
    #about_focus span {
      background:url('../img/retina/diary.png');
      background-size:40px 37px;
    }
    #home {
      .row {
        &:first-child {
          .fourcol {
            &:first-child {
              div {
                background:url('../img/retina/whatido.png');
                background-size: 140px 140px;
              }
            }
            &:nth-child(2) {
              div {
                background:url('../img/retina/whatilove.png');
                background-size: 140px 140px;
              }
            }
            &:last-child {
              div {
                background:url('../img/retina/whereireside.png');
                background-size: 140px 140px;
              }
            }
          }
        }
      }
    }
    footer .container span {
      a {
        &:first-child {
          background:url('../img/retina/twitter_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/twitter_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(2) {
          background:url('../img/retina/facebook_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/facebook_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(3) {
          background:url('../img/retina/github_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/github_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(4) {
          background:url('../img/retina/linked_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/linked_on.png');
              background-size: 35px 35px;
            }
        }
        &:last-child {
          background:url('../img/retina/so_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/so_on.png');
              background-size: 35px 35px;
            }
        }
      }
    }
    #work_focus .row h1:before {
      content: "";
      background-image: url('../img/retina/schematics.png');
      background-size:38px 41px;
    }
    #blog {
      .article {
        background:url('../img/retina/blog_pencil.png') !important;
        background-size:80px 80px !important;
      }
      .link {
        background:url('../img/retina/blog_link.png') !important;
        background-size: 80px 80px !important;
      }
      .travelling
      {
        background:url('../img/retina/blog_travel.png') !important;
        background-size: 80px 80px !important;
      }
    }
    ul li {
      &.css3 {
          background-image :url('../img/retina/css3_on.png') !important; 
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.html5 {
          background-image:url('../img/retina/html5_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.jquery {
          background-image:url('../img/retina/jquery_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.illustrator {
          background-image:url('../img/retina/ai_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.photoshop {
          background-image:url('../img/retina/ps_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.ruby {
          background-image:url('../img/retina/ruby_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.wordpress {
          background-image:url('../img/retina/wp_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.coffeescript {
          background-image:url('../img/retina/coffee_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.sitecore {
          background-image:url('../img/retina/sitecore_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.grunt {
          background-image:url('../img/retina/grunt_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.angularjs {
          background-image:url('../img/retina/angularjs_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.ubuntu {
          background-image:url('../img/retina/ubuntu_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.windows {
          background-image:url('../img/retina/windows_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.dotnet {
          background-image:url('../img/retina/dotnet_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.bower {
          background-image:url('../img/retina/bower_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.yeoman {
          background-image:url('../img/retina/yeoman_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
      &.emberjs {
          background-image:url('../img/retina/emberjs_on.png') !important;
          background-position: center !important;
          background-size: 53px 53px;
      }
    }
  }
}