/* ========================================== */
/* ! Provide higher res assets  */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    .rsContent a span {
      background: url('../img/retina/clipboard.png') !important;
      background-size: 42px 40px !important;
    }
    #about_focus span {
      background:url('../img/retina/diary.png');
      background-size:40px 37px;
    }
    #home {
      .row {
        &:first-child {
          .fourcol {
            &:first-child {
              div {
                background:url('../img/retina/whatido.png');
                background-size: 140px 140px;
              }
            }
            &:nth-child(2) {
              div {
                background:url('../img/retina/whatilove.png');
                background-size: 140px 140px;
              }
            }
            &:last-child {
              div {
                background:url('../img/retina/whereireside.png');
                background-size: 140px 140px;
              }
            }
          }
        }
      }
    }
    footer .container span {
      a {
        &:first-child {
          background:url('../img/retina/twitter_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/twitter_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(2) {
          background:url('../img/retina/facebook_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/facebook_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(3) {
          background:url('../img/retina/github_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/github_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(4) {
          background:url('../img/retina/linked_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/linked_on.png');
              background-size: 35px 35px;
            }
        }
        &:last-child {
          background:url('../img/retina/so_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/so_on.png');
              background-size: 35px 35px;
            }
        }
      }
    }
    #blog {
      .article {
        background:url('../img/retina/blog_pencil.png') !important;
        background-size:80px 80px !important;
      }
      .link {
        background:url('../img/retina/blog_link.png') !important;
        background-size: 80px 80px !important;
      }
    }
    #work {
      .fourcol {
        ul li {
          &.css3 {
              background:url('../img/retina/css3_on.png');
              background-size: 106px 106px;
          }
          &.html5 {
              background:url('../img/retina/html5_on.png');
              background-size: 106px 106px;
          }
          &.jquery {
              background:url('../img/retina/jquery_on.png');
              background-size: 106px 106px;
          }
          &.illustrator {
              background:url('../img/retina/ai_on.png');
              background-size: 106px 106px;
          }
          &.photoshop {
              background:url('../img/retina/ps_on.png');
              background-size: 106px 106px;
          }
          &.ruby {
              background:url('../img/retina/ruby_on.png');
              background-size: 106px 106px;
          }
          &.wordpress {
              background:url('../img/retina/wp_on.png');
              background-size: 106px 106px;
          }
          &.coffeescript {
              background:url('../img/retina/coffee_on.png');
              background-size: 106px 106px;
          }
          &.sitecore {
              background:url('../img/retina/sitecore_on.png');
              background-size: 106px 106px;
          }
          &.grunt {
              background:url('../img/retina/grunt_on.png');
              background-size: 106px 106px;
          }
          &.angularjs {
              background:url('../img/retina/angularjs_on.png');
              background-size: 106px 106px;
          }
          &.ubuntu {
              background:url('../img/retina/ubuntu_on.png');
              background-size: 106px 106px;
          }
          &.windows {
              background:url('../img/retina/windows_on.png');
              background-size: 106px 106px;
          }
          &.dotnet {
              background:url('../img/retina/dotnet_on.png');
              background-size: 106px 106px;
          }
          &.bower {
              background:url('../img/retina/bower_on.png');
              background-size: 106px 106px;
          }
          &.yeoman {
              background:url('../img/retina/yeoman_on.png');
              background-size: 106px 106px;
          }
          &.emberjs {
              background:url('../img/retina/emberjs_on.png');
              background-size: 106px 106px;
          }
        }
      }
    }
  }
}