&.rough {
    background:url('../img/rough_bg.png');
    background-repeat: repeat;

        .content {
            padding-top: 35px;
            margin-top: 70px;
        }
        
        footer {
            border-top:8px solid #1c1d21; 
        }
}