#work {
    .row {
        padding:35px 0;
        border-bottom: 1px solid #1C1D21;
        border-top: 1px solid $gray;
            &:first-child {
                border-top:none;
            }
            &:last-child {
                padding:35px 0 0;
                border-bottom:none;
            }
            h1 {
                margin: 0 0 10px;
            }
            .eightcol {
                div {
                    height:350px;
                    @include border-radius(7px);
                    background-repeat:no-repeat;
                    background-size: 100%;
                }
            }
            .fourcol {
                ul {
                    padding:0;
                    li {
                        height:53px;
                        width:53px;
                        display: inline-block;
                        margin-right: 9px;
                            &.css3 {
                                @extend .sp-css3-on;
                            }
                            &.html5 {
                                @extend .sp-html5-on;
                            }
                            &.jquery {
                                @extend .sp-jquery-on;
                            }
                            &.illustrator {
                                @extend .sp-ai-on;
                            }
                            &.photoshop {
                                @extend .sp-ps-on;
                            }
                            &.ruby {
                                @extend .sp-ruby-on;
                            }
                            &.wordpress {
                                @extend .sp-wp-on;
                            }
                            &.coffee {
                                @extend .sp-coffee-on;
                            }
                            &:last-child {
                                margin-right:0;
                            }
                    }
                }
            }
    }
}
#work_focus {
    img {
        float:right;
    }
    h1, p {
        float:left;
    }
}