@import "compass/css3";

/* Sprite settings */

$icono-layout:horizontal;
@import "icono/*.png";

/* Global variables */
$pink: #cc0066;
$blue: #4CC4DB;
$darkgray: #1a1a1a;
$gray: #333333;
$lightgray: #808080;
$white:#E6E6E6;
$light-blue: #abd6db;

@import "fonts";
@import "base";
@import "sprite";
@import "responsive";
@import "retina";
@import "retina";
@import "header";
@import "footer";
@import "styling";
@import "1140";
@import "font-awesome/font-awesome";
@import "IE";
@import "home";
@import "about";
@import "work";
@import "blog";
@import "comments";
@import "focus";
@import "sidebar";
@import "buttons";
@import "tooltip";
@import "photography";
@import "animations.css";
@import "icomoon.css";
@import "tomd.css";
@import "royalslider.css";