@import "compass/css3";

/* Sprite settings */
$icono-layout:horizontal;
@import "icono/*.png";

/* Global variables */
$pink: #cc0066;
$blue: #4CC4DB;
$darkgray: #1a1a1a;
$gray: #333333;
$lightgray: #808080;
$white:#E6E6E6;
$light-blue: #abd6db;

@import "fonts";
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
html {
	font-size: 100%; /* Set a 16px base size */
}
body {
	margin: 0 auto;
	font-size: 16px;
	font-size: 1em;
	line-height: 1.8;	
	font-family: "MuseoSans-300", Helvetica, Arial, sans-serif;
  // Added the differing CSS themes.
  @import "light";
  @import "dark";
}
html, body {
  margin:0;
  padding:0;
  height:100%;
}
div[role=main] {
  min-height: 100%;
  position: relative;
}
.content {
	padding-bottom:3em;
}
/* ============================= */
/* ! Sprite declarations  */
/* ============================= */
/* Social */
.sp-facebook-on { @include icono-sprite(facebook_on); }
.sp-facebook-off { @include icono-sprite(facebook_off); }
.sp-twitter-on { @include icono-sprite(twitter_on); }
.sp-twitter-off { @include icono-sprite(twitter_off); }
.sp-linked-on { @include icono-sprite(linked_on); }
.sp-linked-off { @include icono-sprite(linked_off); }
.sp-github-on { @include icono-sprite(github_on); }
.sp-github-off { @include icono-sprite(github_off); }
.sp-stackoverflow-off { @include icono-sprite(so_off); }
.sp-stackoverflow-on { @include icono-sprite(so_on);}
// .sp-test-on { @include icono-sprite(test);}
/* Web tools */
.sp-ai-on { @include icono-sprite(ai_on); }
.sp-ai-off { @include icono-sprite(ai_off); }
.sp-css3-on { @include icono-sprite(css3_on); }
.sp-css3-off { @include icono-sprite(css3_off); }
.sp-html5-on { @include icono-sprite(html5_on); }
.sp-html5-off { @include icono-sprite(html5_off); }
.sp-jquery-on { @include icono-sprite(jquery_on); }
.sp-jquery-off { @include icono-sprite(jquery_off); }
.sp-ps-on { @include icono-sprite(ps_on); }
.sp-ps-off { @include icono-sprite(ps_off); }
.sp-ruby-on { @include icono-sprite(ruby_on); }
.sp-ruby-off { @include icono-sprite(ruby_off); }
.sp-wp-on { @include icono-sprite(wp_on); }
.sp-wp-off { @include icono-sprite(wp_off); }
.sp-coffee-on { @include icono-sprite(coffee_on); }
.sp-coffee-off { @include icono-sprite(coffee_off); }
/* Small icons */
.sp-briefcase { @include icono-sprite(briefcase); }
.sp-diary { @include icono-sprite(diary); }
.sp-schematic { @include icono-sprite(schematics); }
.sp-clipboard { @include icono-sprite(clipboard); }
/* Other images */
.sp-blog-link { @include icono-sprite(blog_link); }
.sp-blog-pencil { @include icono-sprite(blog_pencil); }
.sp-profile { @include icono-sprite(profile); }
.sp-what-i-do { @include icono-sprite(whatido); }
.sp-what-i-love { @include icono-sprite(whatilove); }
.sp-where-i-reside { @include icono-sprite(whereireside); }

// @media only screen and (max-width: 1550px) {
//   body {
//     .rsContent .infoBlock .textContent {
//       width:35%;
//     }
//   }
// }
// @media only screen and (max-width: 1310px) {
//   body {
//     .rsContent .infoBlock .textContent {
//       width:31%;
//     }
//   }
// }

@media only screen and (max-width: 1100px) {
  body {
    #home .row:nth-child(2) .fourcol {
      &:last-child span {
        left:-31%;
      }
      span {
        width:131%;
      }
    }
  }
}

/* ============================= */
/* ! Layout for tablet  */
/* ============================= */
@media only screen and (max-width: 1023px) {
  body {
    header {
      nav {
        margin-top: 27px;
      }
    }
    #about {
      form {
        input[type="submit"] {
          margin:20px 1% 0 0;
        }
      }
    }
    #sidebar #searchform i {
      top: 8px;
      right: 11px;
    }
    #home {
      .sixcol:first-child {
        div {
          span:last-child {
            display: none;
          }
        }
      }
    }
    .rsContent .infoBlock img {
      margin-top: 22%;
    }
    .rsContent .infoBlock .textContent {
      margin-top: 30%;
    }
  }
}
@media only screen and (max-width: 915px) {
  body {
    .rsContent .infoBlock img {
      margin-top: 29%;
    }
    .rsContent .infoBlock .textContent {
      margin-top: 35%;
    }
  }
}
@media only screen and (max-width: 825px) {
  body {
    .rsContent .infoBlock img {
      margin-top: 36%;
    }
    .rsContent .infoBlock .textContent {
      margin-top: 36%;
    }
  }
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
  body {
    line-height: 1.8em !important;
    .sidebar_content {
      display:none;
    }
    #development_timer {
      display: none;
    }
    header {
      .container {
        .row {
          nav {
            margin-top:24px;
          }
          .fourcol:first-child {
            float:left;
          }
        }
      }
    }
    #home {
      .row:first-child .fourcol div {
        margin:40px auto 0;
      }
      .sixcol {
        height:100% !important;
          &:first-child {
            .hori_divider {
              border-bottom: 1px solid #333333;
            }
            .divider {
              display: none;
            }
          }
          &:last-child {
            .hori_divider {
              border-top: 1px solid #1C1D21;
            }
            li {
              margin-bottom: 10px !important;
            }
          }
      }
      .row:nth-child(2) {
        span {
          position:relative !important;
          width:100% !important;
        }
        .fourcol:last-child span {
          left:0%;
        }
        .fourcol:nth-child(2) {
          height:40px;
            h1 {
              margin:5px 0 8px;
            }
        }
      }
      .row:nth-child(3) {
        .fourcol {
          &:first-child {
              .recent {
                margin-top:11px;
              }
          }
          &:nth-child(2) {
              .recent {
                margin-top:25px;
              }
          }
          &:last-child {
              .recent {
                margin-top: 25px;
              }
          }
        }
      }
    }
    #about_focus {
      img {
        display:none;
      }
      .row {
        padding:40px 0 80px;
      }
      span {
        margin:2px 15px 0 0;
      }
    }
    #about {
      form {
        textarea, input {
          width:97%;
        }
        .sixcol, .twelvecol {
          padding-left:0px;
        }
        input[type="submit"] {
          margin:20px 3% 0 0;
        }
      }
    }
    #blog {
      .row {
        .type_header {
          width:89%;
        }
        .ninecol {
          float:none;
            .tencol h1 {
              width:100%;
            }
        }
      }
      .comments {
        .comment-meta {
          width:100%;
          margin:25px 0 30px;
        }
        i {
          &.icon-caret-left {
            display: none;
          }
          &.icon-caret-up {
            top: -23px;
            left: 48.3%;
            font-size: 35px;
            display: block;
          }
        }
      }
      section[role=navigation] .tencol .pre_nex {
        a {
          padding-left:0px !important;
          padding-right:0px !important;
        }
      }
    }
    footer {
      .container .row:last-child {
        .twelvecol {
          overflow:hidden;
          padding:0;
        }
      }
    }
    .hori_divider {
      display:block;
    }
    .rsContent {
      .infoBlock {
        .textContent {
          width:100%;
          text-align: center;
          margin-left: 0;
          margin-top: 8%;
          position: relative;
          float:none;
            p, span {
              display: none;
            }
            h2 {
              text-indent: 0;
              font-size: 1.3em;
            }
        }
        img {
          margin:5% auto 0 auto;
          height:275px;
          width:275px;
          display:block;
        }
      }
    }
  }
}
@media handheld, only screen and (max-width: 430px) {
  body {
    line-height: 1.5em !important;
    header {
      h1 {
        font-size: 1.5em !important;
      }
    }
    footer {
      .container {
        .row:last-child {
          .twelvecol {
            padding:0;
            font-size: 0.7em;
          }
        }
        p:last-child { 
          float:none !important;
        }
      }
    }
    #blog {
      .row {
        .type_header {
          width:88%;
        }
      }
    }
    .royalSlider {
      height:420px !important;
        .rsOverflow {
          height:420px !important;
            .rsContent {
              div {
                margin-top: 4%;
                  h2 {
                    font-size: 1.2em;
                  }
                  img {
                    margin:8% auto 0 auto;
                    height:250px;
                    width:250px;
                  }
              }
            }
        }
    }
  }
}
/* ========================================== */
/* ! Provide higher res assets  */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    .rsContent a span {
      background: url('../img/retina/clipboard.png') !important;
      background-size: 42px 40px !important;
    }
    #about_focus span {
      background:url('../img/retina/diary.png');
      background-size:40px 37px;
    }
    #home {
      .row {
        &:first-child {
          .fourcol {
            &:first-child {
              div {
                background:url('../img/retina/whatido.png');
                background-size: 140px 140px;
              }
            }
            &:nth-child(2) {
              div {
                background:url('../img/retina/whatilove.png');
                background-size: 140px 140px;
              }
            }
            &:last-child {
              div {
                background:url('../img/retina/whereireside.png');
                background-size: 140px 140px;
              }
            }
          }
        }
      }
    }
    footer .container span {
      a {
        &:first-child {
          background:url('../img/retina/twitter_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/twitter_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(2) {
          background:url('../img/retina/facebook_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/facebook_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(3) {
          background:url('../img/retina/github_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/github_on.png');
              background-size: 35px 35px;
            }
        }
        &:nth-child(4) {
          background:url('../img/retina/linked_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/linked_on.png');
              background-size: 35px 35px;
            }
        }
        &:last-child {
          background:url('../img/retina/so_off.png');
          background-size: 35px 35px;
            &:hover {
              background:url('../img/retina/so_on.png');
              background-size: 35px 35px;
            }
        }
      }
    }
    #blog {
      .article {
        background:url('../img/retina/blog_pencil.png') !important;
        background-size:80px 80px !important;
      }
      .link {
        background:url('../img/retina/blog_link.png') !important;
        background-size: 80px 80px !important;
      }
    }
  }
}
@import "header";
@import "footer";
@import "styling";
@import "1140";
@import "font-awesome/font-awesome";
@import "IE";
@import "home";
@import "about";
@import "work";
@import "blog";
@import "comments";
@import "focus";
@import "sidebar";
@import "buttons";
@import "tooltip";
@import "animations.css";
@import "icomoon.css";
@import "tomd.css";