.about {
	border-bottom:1px solid #dddddd;
	padding-bottom:23px;
	margin:0 auto 20px !important;
	h2 {
		text-indent:0;
		line-height:30px;
		margin:0 0 10px;
		font-family: "MuseoSlab-500Italic", Helvetica, Arial, sans-serif;
	}
}