.comments {
	h2 {
		text-indent:0;
	}
	.comment {
		padding:20px 0 5px;
		border-bottom:1px solid #dddddd;
			&:first-child {
				border-top:1px solid #dddddd;
			}
			.comment-author {
				overflow:hidden;
					img {
						float:left;
						margin:0 10px 10px 0;
					}
					.comment-meta {
						font-family: "MuseoSlab-500", Helvetica, Arial, sans-serif;
						float:left;
							.url {
								font-family: "MuseoSlab-500", Helvetica, Arial, sans-serif;
								display:block;
								color:$darkgray;
									&:hover {
										color:$pink;
									}
							}
							.comment-date {
							color:$lightgray;
							font-family: "MuseoSans-300", Helvetica, Arial, sans-serif;
							float:left;
								&:hover {
									color:$pink;
								}
						}
					}
			}
	}
}
#commentform {
	margin:0;
		.required {
			margin-left:5px;
		}
}