.ie .onecol {
width: 4.7%;
}

.ie .twocol {
width: 13.2%;
}

.ie .threecol {
width: 22.05%;
}

.ie .fourcol {
width: 30.6%;
}

.ie .fivecol {
width: 39%;
}

.ie .sixcol {
width: 48%;
}

.ie .sevencol {
width: 56.75%;
}

.ie .eightcol {
width: 61.6%;
}

.ie .ninecol {
width: 74.05%;
}

.ie .tencol {
width: 82%;
}

.ie .elevencol {
width: 91.35%;
}